<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">

  <title>List Roles</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
        #searchInput {
            margin-bottom: 15px;
             margin-left: 5px;
             margin-right:5px
        }

        /* Style for editable cells */
        [contenteditable="true"]:focus {
            outline: 1px solid #5c5c5c;
        }
    </style>
</head>
<body bgcolor="#7fffd4">

<input type="text" id="searchInput" placeholder="Search by name">

<!-- Your table content -->
<table id="Roles Table" class="table table-bordered" bgcolor="#90ee90">
  <thead>
  <tr>
    <th bgcolor="#adff2f">ID</th>
    <th bgcolor="#adff2f">Role Name</th>
    <th bgcolor="green">Edit</th>

  </tr>
  </thead>
  <tbody >

  <tr  bgcolor="#7fffd4" th:each="item : ${roles}"data-id="${rowStat.index}">
    <td th:text="${item.id}"> ID</td>
    <td th:text="${item.roleName}">Role Name</td>

    </td>
  </tr>
  </tbody>
</table>

<!-- Modal for editing -->
<div id="editModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <form id="editForm" onsubmit="saveChanges(event)">
      <!-- Form fields for editing -->
      <label for="itemId">ID:</label>
      <input type="text" id="itemId" name="itemId" readonly><br><br>
      <label for="itemName">Name:</label>
      <input type="text" id="itemName" name="itemName" required><br><br>

      <input type="submit" value="Save">
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

</body>
</html>